.newHelp {
  background-color: #fff;
  padding: 20px;
  box-shadow: #cecece 0 0 6px 0;
  .title {
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
    font-weight: bold;
  }
  .more {
    color: rgb(153, 153, 153);
    font-size: 12px;
    float: right;
    cursor: pointer;
    &:hover {
      color: #1890ff;
    }
  }
  .listItem {
    width: 100%;
    font-size: 12px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .question {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      color: #1890ff;
      display: block;
      width: 70%;
      &:hover {
        color: #1890ff;
      }
    }
  }
}
