.LawCase {
  // box-shadow: #cecece 0 0 6px 0;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  .fullContent {
    color: #333;
    letter-spacing: 2px;
    line-height: 27.2px;
    // text-indent: 2em;
  }
  .otherInfo {
    color: #333;
    .item {
      padding: 4px 0;
    }
  }
}
