@import '../../../../global.less';
.covid {
  .cardStyle();
  .info {
    .title {
      color: #333;
      font-size: 15px;
      font-weight: 800;
    }
    .count {
      font-weight: 800;
      font-size: 18px;
    }
    .diff {
      color: #999;
    }
  }
}
