.home {
  margin: 0 auto;
  .skill {
    width: 1200px;
    margin: 0 auto;
    height: 416px;
    padding-top: 50px;
    position: relative;
    margin-bottom: 70px;
    .left {
      float: left;
      height: 100%;
      margin-right: 50px;
      .title {
        margin-bottom: 40px;
      }
      .bg {
        width: 400px;
        height: 320px;
        :global(.slick-list) {
          border-radius: 10px;
        }
      }
    }
    .right {
      width: 750px;
      float: left;
      .right_top {
        width: 100%;
        margin-bottom: 40px;
        .tag {
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          color: #23242a;
          text-align: center;
          white-space: nowrap;
          padding: 8px 24px;
          background: transparent;
          display: inline-block;
        }
        .active_tag {
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          padding: 8px 24px;
          text-align: center;
          white-space: nowrap;
          display: inline-block;
          background: #29a7f3;
          color: #fff;
          border-radius: 4px;
        }
        .arrow {
          font-size: 14px;
          color: black;
          display: block;
          width: 100%;
          height: 100%;
          line-height: 26px;
        }
      }
      .right_top::-webkit-scrollbar {
        display: none;
      }
      .right_bottom {
        width: 100%;
        .wrapper {
          :global(.slick-list) {
            height: 320px;
            padding: 30px 0;
          }
          .section {
            .item_wrapper {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              padding-bottom: 20px;
              .item {
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
                .icon {
                  width: 32px;
                  height: 32px;
                  line-height: 32px;
                  border-radius: 50%;
                  margin-right: 20px;
                  font-weight: 400;
                  color: #fff;
                  text-align: center;
                  float: left;
                }
                .item_content {
                  line-height: 32px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  &:hover {
                    color: lightsalmon;
                  }
                  p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .special {
    margin: 20px auto 10px;
    .special_top {
      width: 100%;
      height: 45px;
      margin-bottom: 40px;
      width: 1200px;
      margin: 0 auto;
      .title {
        float: left;
      }
      .modular {
        float: right;
        .tag {
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          color: #23242a;
          padding: 8px 14px;
          background: transparent;
          display: inline-block;
        }
      }
    }
    .special_bottom {
      // height: 460px;
      margin-bottom: 10px;
      :global(.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-wrap) {
        float: right;
      }
      :global(.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active) {
        background-color: #1890ff;
        color: #fff;
      }
      :global(.ant-tabs-bar) {
        border-bottom: none;
      }
      :global(.ant-tabs-card-bar .ant-tabs-nav-wrap) {
        margin-right: calc(50% - 650px);
      }
      // :global(.slick-slider) {
      //   height: 100%;
      //   :global(.slick-list) {
      //     height: 100%;
      .topic {
        position: relative;
        .arrowBtn {
          position: absolute;
          top: 50%;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: translateY(-50%);
          font-size: 30px;
          background: rgba(0, 0, 0, 0.1);
          color: #fff;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
      .special_questions {
        margin-bottom: 10px;
        padding: 20px 0;
        width: 1240px;
        margin: 0 auto;
        // margin-left: 3%;
        box-sizing: border-box;
        :global(.slick-list) {
          padding: 20px 0 !important;
        }
        :global(.slick-slide) {
          transform: scale(0.9);
          box-shadow: 0px 0px 32px 0px rgba(0, 78, 255, 0.2);
          // box-shadow:2px 2px 0px 2px rgba(0,78,255,0.2);
          // border: 1px solid #eee;
          padding: 0 !important;
        }
        :global(.slick-center) {
          transform: scale(1.05);
        }
        .specialWrapper {
          // background: #fff;
          border: none;
          .picture {
            width: 100%;
            height: 330px;
            img {
              width: calc(100% - 40px);
              display: block;
              margin: 0 auto;
              padding: 10px 0;
              height: 330px;
              cursor: pointer;
            }
          }
          .title {
            display: block;
            padding: 20px 20px 10px;
          }
          .questions {
            color: rgb(35, 36, 42);
            font-size: 15px;
            font-weight: 400;
            padding-left: 20px;
            padding-bottom: 20px;
            .questions_item {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #797979;
              line-height: 26px;
              display: block;
              &:hover {
                color: lightsalmon;
              }
            }
          }
          //   }
          // }
        }
      }

      .special_help {
        width: 1200px;
        margin: 0px auto;
        padding: 10px 0 0 0;
        overflow: hidden;
        // padding: 10px 0 !important;
        .help_more {
          cursor: pointer;
          width: 100px;
          height: 36px;
          float: right;
          color: #fff;
          font-size: 16px;
          line-height: 36px;
          text-align: center;
          background: linear-gradient(90deg, #89DCE4, #79C1EA);
          &:hover {
            opacity: 0.8;
          }
        }
        .help_left {
          background: url(../../assets/hotHelp.png);
          border-radius: 10px;
          width: 400px;
          height: 384px;
          background-size: cover;
          float: left;
          margin-right: 40px;
        }

        .help_right {
          float: left;
          width: 760px;
          .help_item {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-top: 15px;
            line-height: 20px;

            .help_item_content {
              display: inline-block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 62%;
              cursor: pointer;
              &:hover {
                color: lightsalmon;
              }
            }
            .myReply {
              display: inline-block;
              overflow: hidden;
              cursor: pointer;
              &:hover {
                color: lightsalmon;
              }
            }
          }
        }
      }
    }
  }
  .experience {
    width: 1200px;
    margin: 40px auto;
    overflow: hidden;
    .title{
      padding-bottom: 40px;
    }
    .content {
      padding: 20px 40px;
      .left {
        float: left;
        margin-right: 66px;
        img {
          width: 560px;
        }
      }
      .right {
        overflow: hidden;
        width: 442px;
        height: 340px;
        margin-top: 40px;
        padding-top: 40px;
        padding-left: 40px;
        background-color: #fff;
        box-shadow: 0px 0px 16px 0px rgba(105, 105, 105, 0.16);
        border-radius: 8px;
        background-image: url(../../assets/person.png);
        background-repeat: no-repeat;
        background-position: 100% 100%;
        .cnTitle {
          font-size: 24px;
          font-weight: 400;
          color: #23242a;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
        .enTitle {
          font-size: 16px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: rgba(196, 196, 196, 1);
          margin-bottom: 16px;
          cursor: pointer;
            &:hover{
            text-decoration: underline;
          }
        }
        .questions {
          font-size: 16px;
          font-family: Microsoft YaHei;
          font-weight: 400;
          color: #797979;
          .questions_item {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: #797979;
            line-height: 32px;
            display: block;
            &:hover {
              color: lightsalmon;
            }
          }
        }
      }
    }
  }
}
