.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .top {
    height: 416px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left {
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 41.5%;
      .bg {
        background-image: url(../../assets/skill.png);
        width: 400px;
        height: 320px;
      }
    }
    .right {
      width: 1000px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .right_top {
        width: 100%;
        .tag {
          font-size: 18px;
          font-weight: 400;
          color: #23242a;
          padding: 9px 23px;
          background: transparent;
          display: inline-block;
          :active {
            background: #29a7f3;
            color: #fff;
          }
        }
      }
      .right_bottom {
        .wrapper {
          .section {
            .item {

              .item_q {
                color: #23242a;
                font-size: 18px;
                font-weight: 400;
                display: flex;
                margin-bottom: 10px;
                height: 32px;
                line-height: 32px;
                .icon {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  background: #fed000;
                  color: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 20px;

                }
              }

              .item_a {
                color: #23242a;
                font-size: 18px;
                font-weight: 400;
                display: flex;
                color: #9A9CA4;
                height: 32px;
                line-height: 32px;

                .icon {
                  width: 32px;
                  height: 32px;
                  border-radius: 50%;
                  background: #13acff;
                  color: #fff;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
