.Journal{
  box-shadow: #a5a5a5 0 0 10.8px 0;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  .Journal_wrapper{
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
    color: #333;
    .Journal_left{
      float: left;
      margin-right: 40px;
      overflow: hidden;
    }
    .Journal_right {
      overflow: hidden;
      .Journal_right_item{
        // height: 24px;
        line-height: 24px;
      }
    }
  }

}
