.ReferenceBook {
  box-shadow: #a5a5a5 0 0 10.8px 0;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  .ReferenceBook_title{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #0079FF;
  }
  .ReferenceBook_answer{
    color: #333;
    letter-spacing: 2px;
    line-height: 27.2px;
    text-indent: 2em;
    margin-bottom: 20px;
  }
  .ReferenceBook_more{
    color: #0079FF;
    text-align: right;
    display: block;
    cursor: pointer;
    &:hover{
      color: lightsalmon;
    }
  }
}
