@import '../../../../global.less';

.technology {
  .cardStyle();
  color: #333;
  letter-spacing: 2px;
  line-height: 24px;
  text-align: left;
  .desc {
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    .cara{
        color: blue;
    }
  }
  .btn {
    padding: 10px 0;
    
  }
  .list {
    .item {
      padding: 10px;
      color: #666;
      letter-spacing: 2px;
      line-height: 24px;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }
  }
}
