.header {
  background: #90ee90;
  height: 300px;
  .inputWrap {
    width: 50%;
    position: absolute;
    top: 100px;
    right: 200px;
  }
}
.main {
  width: 960px;
  margin: 0 auto;
  .menu {
    height: 400px;
    background-color: lightblue;
  }
  .content {
    height: 400px;
    background-color: lightpink;
  }
  .hotQuestions{
    height: 300px;
    background-color: lightcyan;
  }
}

