@import '../../../../global.less';

.concept {
  .cardStyle();
  h2 {
    padding-bottom: 10px;
    color: lightslategray;
    font-size: 18px;
  }
  .card {
    ol > li {
      padding-bottom: 10px;
      color: #333;
      letter-spacing: 2px;
      line-height: 24px;
      text-align: left;
      .source {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .more{
    color: #999;
    display: flex;
    justify-content: flex-end;
    &:hover{
      color: #1890ff;
    }
  }
}
