.wrapper {
  .header {
    background-color: lightblue;
    height: 84px;
    line-height: 0;
    .inputGroup {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .login{
        position: absolute;
        right: 20px;
        top: 30px;
        color: #fff;
        .login_btn,.register_btn{
          height: 30px;
          width: 60px;
          background: transparent;
          color: #fff;
          border: 1px solid #fff;
          border-radius: 4px;
          margin-left: 20px;
          cursor: pointer;
          &:hover{
            background: #fff;
            color: #333;
           
          }
        }
      }
      .logo {
        background: url(../assets/logo1.png) no-repeat;
        height: 32px;
        width: 52px;
        margin-right: 10px;
        background-size: contain;
        position: absolute;
        left: 50%;
        margin-left: -25%;
        cursor: pointer;
      }
      .inputWrap {
        width: 40%;
        position: absolute;

      }
    }
  }
  .content {
    min-height: calc(100vh - 50px - 84px);
  }
  .footer {
    height: 50px;
  }
}
