.wrapper{
  height: 100%;
  .header {
    background: url(../assets/banner.png) no-repeat;
    background-size: cover;
    height: 400px;
  }
  .content {
    min-height: calc(100% - 50px);
    padding-bottom: 50px;
  }
  .footer {
    height: 50px;
  }
}