.wrapper{
  .header {
    background: url(../assets/banner.png) no-repeat;
    background-size: cover;
    height: 45vh;
    position: relative;
    z-index: 999;
    line-height: 0;
    .login{
      position: absolute;
      right: 20px;
      top: 30px;
      color: #fff;
      .login_btn,.register_btn{
        height: 30px;
        width: 60px;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        margin-left: 20px;
        cursor: pointer;
        &:hover{
          background: #fff;
          color: #333;
         
        }
      }
      
    }
    .logo1{
      background: url(../assets/随问logo.png) no-repeat;
      width: 265px;
      height: 42px;
      background-size: cover;
      position: absolute;
      top: 20px;
    }
    .logo2{
      background: url(../assets/logo1.png) no-repeat;
      height: 92px;
      width: 150px;
      background-size: cover;
      position: absolute;
      left: 50%;
      top: 110px;
      transform: translateX(-50%);
    }
    .inputWrap{
      position: absolute;
      top: 222px;
      width: 40%;
      left: 50%;
      transform: translateX(-50%);
     
    }
  }
  .content {
    min-height: calc(100vh - 550px);
  }
  .footer {
    height: 50px;
  }
}