.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  box-sizing: border-box;
  .header {
    background: url(../assets/banner.png) no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    z-index: 999;
    line-height: 0;
    .login {
      position: absolute;
      right: 60px;
      top: 30px;
      color: #fff;
      .login_btn,
      .register_btn {
        height: 30px;
        // width: 60px;
        display: inline-block;
        line-height: 28px;
        text-align: center;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        margin-left: 20px;
        cursor: pointer;
        &:hover {
          background: #fff;
          color: #29a7f3;
        }
      }

      .tips {
        .links {
          color: #fff;
          margin-left: 4px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .logo1 {
      background: url(../assets/homeLogo.png) no-repeat;
      width: 250px;
      height: 34px;
      background-size: cover;
      position: absolute;
      top: 20px;
    }
    .logo2 {
      background: url(../assets/logo1.png) no-repeat;
      height: 92px;
      width: 150px;
      background-size: cover;
      position: absolute;
      left: 50%;
      top: 90px;
      transform: translateX(-50%);
    }
    .inputWrap {
      position: absolute;
      top: 200px;
      width: 720px;
      left: 50%;
      transform: translateX(-50%);
      :global(.record-wrap) {
        width: calc(100% - 120px);
      }
      :global(.ant-input-group-addon) {
        width: 120px;
        :global(.ant-btn) {
          width: 100%;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
  .content {
    // background-image: url(../assets/home_content.png);
    background-size: cover;
    height: 100%;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0;
    .footer_wrap {
      overflow: hidden;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      position: relative;
      .footer_item {
        display: inline-block;
        padding: 14px 20px;
        text-align: center;
        list-style: none;
        a {
          color: #999;
          &:hover {
            color: lightsalmon;
          }
        }
      }
    }
  }
  .feedback {
    position: absolute;
    right: 30px;
    padding: 6px;
    overflow: hidden;
    display: block;
    border-radius: 4px;
    background: #ffffff;
    color: #3474d9;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px rgba(105, 105, 105, 0.14);
    img {
      width: 30px;
    }
    .buttonTxt {
      display: none;
      transition: display 1;
      -webkit-transition: display 1s;
    }
    &:hover,
    &:active,
    &:focus {
      // height: 56px;
      .buttonTxt {
        display: block;
      }
    }
  }
}
